$white: #fff;
$active_blue: #5a79bf;
$icon_highlight: #3c5180;
$button_bg: #e6ecff;
$option_hover: #f5f7ff;
$page_title_color: #353535;
$button_text_color: #505050;
$sm_form_input_shadow: 0 0 5px 0 rgba(80, 80, 80, 0.05);
$very_dark_gray: #404040;
$very_dark_gray_1: #707070;
$pale_blue: #e6ecff;
$very_light_red: #ff8282;
$very_pale_blue: #f5f7ff;
$card_bg: #f5f7ff;
$mm_box_shadow: 0 0 5px 0 rgba(145, 150, 170, 0.06);
$burnt_sienna: #eb5454;
$grayish_blue: #a9afc1;
$bluey_gray: #9196aa;
